.join-module-button{
    background: #0f172a;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin: 0;
    border-radius: 5rem;
    font-family: "Press Start 2P", cursive;
}


.admin-module-card{
    background: #0f172a;
    border-radius: 1.25rem;
    padding: 1.5rem;
    border: 1px solid #38bdf8;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    box-shadow: 6px 6px 0px #020617;
    transition: transform 0.15s ease;
    height: 100px;
}

.admin-module-card:hover, .join-module-button:hover{
    transform: translateY(-3px);
    box-shadow: 8px 8px 0px #020617;
}

.button-row{
    display: flex;
    justify-content: right;
    padding: 0.75rem 0.1rem 1rem 3.5rem;
}

.edit-button{
    justify-self: end;
    padding: 0.4rem 1.1rem;
    border-radius: 999px;
    border: 1px solid rgba(56, 189, 248, 0.9);
    background: linear-gradient(to bottom, #a5f09d, #15d21f);
    color: #0f172a;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: "Press Start 2P", monospace;
    cursor: pointer;
    box-shadow: 4px 4px 0 #020617;
    transition: transform 0.08s ease;
}

.delete-button{
    justify-self: end;
    padding: 0.4rem 1.1rem;
    border-radius: 999px;
    border: 1px solid rgba(56, 189, 248, 0.9);
    background: linear-gradient(to bottom, #e95757, #fb1414);
    color: #0f172a;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: "Press Start 2P", monospace;
    cursor: pointer;
    box-shadow: 4px 4px 0 #020617;
    transition: transform 0.08s ease;
}

.edit-button:hover, .delete-button:hover{
    filter: brightness(1.05);
    transform: translate(2px,2px);
    box-shadow: 2px 2px 0 #020617;
}

.create-button{
    display: flex;
    width: 100%;
    background: #0f172a;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    margin: 0;
    border-radius: 5rem;
    font-family: "Press Start 2P", cursive;
}

.link{
    text-decoration: none;
}

.modal-box-header{
    justify-content: space-between;
    display: flex;
}

.edit-module{
    font-size: 1.5rem;
    font-weight: 700;
    color: #38bdf8;
    margin: 0;
    font-family: Arial, sans-serif;
}

.close-button{
    color: white;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.module-name{
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    color: white;
    background: #0f172a;
    border: 1px solid #38bdf8;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    height: 25px;
}

.description{
    padding: 20px;
    border-radius: 10px;
    color: white;
    background: #0f172a;
    border: 1px solid #38bdf8;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

.modal-box-bottom{
    display: flex;          /* enable flex layout */
    justify-content: flex-end; /* push children to the end (right) */
    gap: 0.5rem;            /* optional: space between buttons */
}

.submit-button{
    justify-content: right;
    padding: 0.4rem 1.1rem;
    border-radius: 999px;
    border: 1px solid rgba(56, 189, 248, 0.9);
    background: linear-gradient(to bottom, #355ef1, #1815d2);
    color: #0f172a;
    font-weight: 700;
    font-size: 0.5rem;
    font-family: "Press Start 2P", monospace;
    cursor: pointer;
    box-shadow: 4px 4px 0 #020617;
    transition: transform 0.08s ease;
}

.cancel-button{
    justify-content: right;
    padding: 0.4rem 1.1rem;
    border-radius: 999px;
    border: 1px solid rgba(56, 189, 248, 0.9);
    background: linear-gradient(to bottom, #e95757, #fb1414);
    color: #0f172a;
    font-weight: 700;
    font-size: 0.5rem;
    font-family: "Press Start 2P", monospace;
    cursor: pointer;
    box-shadow: 4px 4px 0 #020617;
    transition: transform 0.08s ease;
}

/* Modal design */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    background: #0f172a;
    border: 1px solid #38bdf8;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 6px 6px 0px #020617;
    height: 250px;
}

.chapter-box{
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    background: #0f172a;
    border: 1px solid #38bdf8;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 6px 6px 0px #020617;
    height: 350px;
}

.subchapter-box{
   padding: 20px;
    border-radius: 10px;
    width: 400px;
    background: #0f172a;
    border: 1px solid #38bdf8;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 6px 6px 0px #020617;
    height: 350px; 
}

.modal-box input {
    width: 85%;
    margin-top: 10px;
    padding: 8px;
}