.footer-container {
    background-color: #2326344d;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #4b4f67;
    width: 100%; 
    box-sizing: border-box;
    height: 350px;
    margin-left: 0;
    padding-bottom: 0;
    margin-bottom: -45px;
    margin-top: 40px;
}

.footer-header {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.footer-header p {
    font-size: 20px;
    color: #f8fafc;
}

.mathdex-header {
    display: flex;
    align-items: center;
}

.mathdex-logo {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

.footer-content {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0px;
}

.footer-category {
    width: auto;
}

.footer-content p {
    font-size: 12px;
    color: #fafafa75;
}

.footer-links-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 150px;
    gap: 8px;
    column-gap: 40px;
}

.footer-links {
    display: flex;
    padding-bottom: 5px;
    font-size: 13px;
    color: #f8fafc;
    text-decoration: none;
    width: fit-content;
}

.footer-links:hover {
    color: #f8fafc;
    text-decoration: underline 2px;
}

.copyright {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: #fafafa75;
    margin-top: 35px;
}