/* Header container styles */
.header {
  background-color: transparent;
  padding: 2px;
  display: flex;
  align-items: center;
  height: 150px;
}

/* Profile section styles */
.profile-section {
    display: flex;
    align-items: center;
    gap: 2px; /* Space between the icon and app name */
    margin-left: 50px;
}

/* Profile icon styles */
.profile-icon {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

/* Welcome message styles */
.welcome-message {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 18px;
    background-color: #232634; 
    padding: 3px 18px 6px;
    border-radius: 8px;
    border: 2px solid #4b4f67; /* Light border color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    height: 45px;
    margin-top: 8px;
}

/* Username styles */
.username {
  font-weight: bold;
  color: #3b82f6; /* Tailwind's blue-400 color */
}